@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Handel';
    src: url('./AssetsA3/Fonts/7294-fontps.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'HandelBol';
    src: url('./AssetsA3/Fonts/HandelGotDBol.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

button {
    background-color: rgba(0, 0, 0, 0);
}

.sinborde:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: hsl(0, 0%, 0%);
    height: 10vh;
    padding: 0 30px 0 30px !important
}

.buttonNav {
    filter: invert(87%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(95%) contrast(93%);
    cursor: pointer;
}

.buttonNav:hover {
    filter: invert(73%) sepia(18%) saturate(1503%) hue-rotate(102deg) brightness(95%) contrast(94%);
}

.nav span {
    color: #fff;
    font-family: HandelBol;
    font-size: 40px;
    font-weight: 800;
    animation: fluido 12s ease-in-out infinite;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgb(59, 255, 91) 50%, rgba(255,255,255,1) 65%);
        background-size: 600%;
        -webkit-background-clip: text;
          background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;
}


.lupaPng {
    height: 25px;
}

.lupaPng:hover {
    background-color: #00ff00a2;
    border-radius: 100%;
    transition: 1s;
}
.seccionBusqueda {
    background-color: rgb(114, 115, 118) ;
    height: 10vh;
    padding-top: 10px;
}
.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: calc(100% - 70%);
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    position: relative;
    z-index: 100;
}
.search-input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    border: 1px solid rgb(80, 80, 80);
    font-size: 20px;
    padding: 8px 40px 8px 20px;
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, .5);
    justify-content: space-between;
    position: relative;
    font-family: Handel;
    align-content: center;
    font-size: small;
    background-color: #000000;
    color: white;
}
.search-input:focus {
    outline: none;
}
.search-input:hover {
    box-shadow: 0 5px 8px 3px rgba(73, 209, 73, 0.384);
    transition: 1s; 
}
.search-button {
    position: absolute;
    right: 1%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background:none; 
    display: flex;
}

.contenedor {
    width: 90%;
    margin: auto;
} 

.seccionCarrousel {
    background-color: rgb(114, 115, 118);
    min-height: 80vh;
    position: relative;
}
/* ---- ---- ---- CONTENEDOR TITULO y CONTROLES ---- ---- ---- */

.contenedorTituloControles {
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-items: center;
}

.contenedorTituloControles2 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-left: 5%;
}

.contenedorTituloControles2 a:hover {
    cursor: pointer;
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

.contenedorTituloControles2 a:hover h3 {
    color:#333333;
}

.contenedorTituloControles2 a img{
    width: 17px;
}

.contenedorTituloControles2 h3 {
    color: #ffffff;
    font-size: 17px;
    font-family: HandelBol;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.contenedorTituloControles2:hover {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

.contenedorTituloControles2:hover h3 {
    color: #4CAF50;
}

.contenedorTituloControles .indicadores button {
    background: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 100%;
}

.contenedorTituloControles .indicadores button:hover,
.contenedorTituloControles .indicadores button.activo {
    background: rgb(76, 212, 117);
}


/* ---- ---- ---- CONTENEDOR PRINCIPAL y FLECHAS ---- ---- ---- */

.videosPrincipal {
    margin-bottom: 0;
}

.videosPrincipal .contenedorPrincipal {
    display: flex;
    align-items: center;
    position: relative;
}

.flechasimg {
    width: 1.5vw;
}

.videosPrincipal .contenedorPrincipal .flecha-izquierda, 
.videosPrincipal .contenedorPrincipal .flecha-derecha {
    position: relative;
    border: none;
    height: 50%;
    top:calc(50% - 20%); 
    cursor: pointer;
    transition: .2s ease all;
   
}

.videosPrincipal .contenedorPrincipal .flecha-izquierda {
    left: 0;
}
.videosPrincipal .contenedorPrincipal .flecha-derecha {
    right: 0;
}

.videosPrincipal .contenedorPrincipal .flecha-izquierda:hover, 
.videosPrincipal .contenedorPrincipal .flecha-derecha:hover {
    filter: invert(61%) sepia(89%) saturate(3036%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

/* ---- ---- ---- Carousel ---- ---- ---- */
.video {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    padding: 10px;
}

.contenedorVideoControles {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.videoPlay {
    width: 3vw;
    position: relative;
    box-shadow: none !important;
    cursor: pointer;
    display: none;
}

.gridVideoPlay {
    grid-column: 2/3;
    grid-row: 2/3;
}

.cruz {
    position: relative;
    min-width: fit-content;
    width: 1.8vw;
    box-shadow: none !important;
    display: none;
    cursor: pointer;
}
.gridCruz {
    grid-column: 3/3;
    grid-row: 1/1;
}


.flechaOtra {
    position: relative;
    box-shadow: none !important;
    display: none;
    cursor: pointer;
    width: 1.5vw;
    background-color: #AD1A1C;
    padding: 7px;
    border-radius: 20px;
    min-width: fit-content;
    overflow: visible;
}

.gridFlechaOtra {
    grid-column: 3/3;
    grid-row: 3/3;
}


.flechaOtraA:hover .flechaOtra {
    cursor: pointer;
    filter: invert(99%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(100%) contrast(93%);
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video {
    min-width: 20%;
    transition: .3s ease all;
    padding: 30px 15px 30px 15px;
}
.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover {
    transform: scale(1.1);
    transform-origin: center;
    z-index: 50;
    color: rgb(76, 212, 117);
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover .videoPlay {
    display: flex;
    z-index: 200;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);
    align-self: center;
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover .videoPlay:hover {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
    
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover .cruz {
    display: flex;
    z-index: 200;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover .flechaOtra {
    display: flex;
    z-index: 200;
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover .cruz:hover {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}



.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video .imgVideo {
    width: 100%;
    vertical-align: top;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
}

.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video.hover a .imgVideo{
    box-shadow: 0px 0px 10px rgba(76, 212, 117, 0.7);
    filter: brightness(60%);
}


.videosPrincipal .contenedorPrincipal .contenedorCarrousel .carrousel .video span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Handel;
    font-weight: 400;
    cursor: pointer;
    flex-direction: column;
    color: #fff;
    font-size: 85%;
}


/* ---- ---- ---- CONTENEDOR TITULO y CONTROLES 2 ---- ---- ---- */

.contenedorTituloControles2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.contenedorTituloControles22 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.contenedorTituloControles22 a img{
    width: 17px;
}


.contenedorTituloControles2 .indicadores2 button {
    background: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 100%;
}

.contenedorTituloControles2 .indicadores2 button:hover,
.contenedorTituloControles2 .indicadores2 button.activo {
    background: rgb(76, 212, 117);
}


/* ---- ---- ---- CONTENEDOR PRINCIPAL y FLECHAS   2 ---- ---- ---- */

.videosPrincipal2 {
    margin-bottom: 70px;
}

.videosPrincipal2 .contenedorPrincipal2 {
    display: flex;
    align-items: center;
    position: relative;
}

.flechasimg2 {
    width: 30px;
}

.videosPrincipal2 .contenedorPrincipal2 .flecha-izquierda, 
.videosPrincipal2 .contenedorPrincipal2 .flecha-derecha {
    position: relative;
    border: none;
    height: 50%;
    top:calc(50% - 20%); 
    cursor: pointer;
    transition: .2s ease all;
    
}

.videosPrincipal2 .contenedorPrincipal2 .flecha-izquierda:hover, 
.videosPrincipal2 .contenedorPrincipal2 .flecha-derecha:hover {
    filter: invert(61%) sepia(89%) saturate(3036%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

.videosPrincipal2 .contenedorPrincipal2 .flecha-izquierda {
    left: 0;
}
.videosPrincipal2 .contenedorPrincipal2 .flecha-derecha {
    right: 0;
}

/* ---- ---- ---- Carousel   2 ---- ---- ---- */


.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video {
    min-width: 20%;
    transition: .3s ease all;
    padding: 15px;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover {
    transform: scale(1.1);
    transform-origin: center;
    z-index: 50;
    color: rgb(76, 212, 117);
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover .videoPlay {
    display: flex;
    z-index: 200;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);
    align-self: center;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover .videoPlay:hover {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover .cruz {
    display: flex;
    z-index: 200;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover .flechaOtra {
    display: flex;
    z-index: 200;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover .cruz:hover {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}


.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video .imgVideo {
    width: 100%;
    vertical-align: top;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
}

.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video.hover img{
    box-shadow: 0px 0px 15px rgba(76, 212, 117, 0.3);
    filter: brightness(60%);
}


.videosPrincipal2 .contenedorPrincipal2 .contenedorCarrousel2 .carrousel2 .video span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Handel;
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
    flex-direction: column;
    color: #fff;
    font-size: 85%;
}


/* ---- ---- ---- CARPETA ICONO ---- ---- ---- */

.fondoCarpeta {
    position: absolute;
    right: 0%;
    bottom: 0%;
    background: rgb(0,0,0);
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%, rgba(0,0,0,1) 100%);
    width: 90px;
    height: 55px;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCarpeta {
    filter: invert(87%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(95%) contrast(93%);
    cursor: pointer;
    width: 40px;
}

.buttonCarpeta:hover {
    filter: invert(61%) sepia(89%) saturate(3036%) hue-rotate(80deg) brightness(114%) contrast(127%);
}
/* ---- ---- ---- SPAN ULTIMOS VIDEOS ---- ---- ---- */

.ultimosVideos {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    width: fit-content;
    gap: 10px;
    margin-left: 5%;
}

.ultimosVideos img {
    width: 17px;
}


.ultimosVideos:hover {
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.spanUltimosVideos {
    color: #fff;
    font-family: HandelBol;
    font-weight: 500;
    font-size: 17px;
}


/* ---- ---- ---- GRid BUSQUEDA ---- ---- ---- */


.seccionGrid {
    position: absolute;
    top: 10vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.gridBusqueda {
    display: grid;
    position: absolute;
    background-color: #000000;
    width: 100vw;
    height: 90vh;
    padding: 4% 10% 2% 10%;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
}

.divGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
}

.divGrid img {
    width: 13vw;
    border-radius: 5px;
    cursor: pointer;
}

.divGrid button {
    display: flex;
    cursor: pointer;
    width: 100%;
    align-self:flex-start;
    justify-self: center;
}

.iconListR {
   height: fit-content;
   overflow: hidden;
}

.iconListR img {
    width: 100%;
    overflow: hidden;
}

.divGrid div img {
    margin-bottom: 5px;
}

.divGrid h3, span {
    color: #fff;
    font-family: Handel;
    font-size: 0.8rem;
    margin: 0 !important;
}


.buttonCerrarBusqueda {
    justify-self: end;
    cursor: pointer;
    position: absolute;
    align-self: flex-start;
    right: 3%;
    top: 2%;
}

.cruzBusqueda { 
    width:100%;
    filter: invert(87%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(95%) contrast(93%);
}

.cruzBusqueda:hover {
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.buttonCirc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #289130;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.buttonCirc img {
    cursor: pointer;
    width: 10px;
}

.filtroGris {
    filter: invert(87%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(100%) contrast(93%);
}

.buttonCirc:hover img { 
    filter: invert(99%) sepia(0%) saturate(5041%) hue-rotate(272deg) brightness(100%) contrast(93%);
}

.buttonsGrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 3;
}

.buttonVolverAVideos {
    display: flex;
    grid-column-start: 5;
    background-color:  rgb(114, 115, 118);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    align-self: center !important;
    gap: 6px;
}

.buttonVolverAVideos img {
    width: 10px;
}

.buttonVolverAVideos span {
    font-family: Handel;
}

.buttonVolverAVideos:hover span {
    filter: invert(61%) sepia(89%) saturate(1000%) hue-rotate(80deg) brightness(114%) contrast(127%);
}

.hidden {
    display: none !important;
}

.filtroGrayScale {
    filter: grayscale(100%);
}

/*  ---- ---- SECCION LISTA REPRO ---- ----  */
.seccionListaRepro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listaRepro {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 90%;
        top: 5vh;
        z-index: 1500;
        backdrop-filter: blur(10px);
        border-radius: 15px;
        background: linear-gradient(225deg, #1d1d1df8, #000000);
        box-shadow:  -6px 6px 12px #030803cc,
             6px -6px 12px #000000e8;
}

.listaRepro span {
 font-size: 0.9vw;
 text-align: center;
 padding-bottom: 10px;
}

.gridListaRepro {
    display: grid;
    width: 90%;
    height: 90%;
    padding: 0% 5%;
    gap: 15px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 5px
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #289130;
    border-radius: 50px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #51d162;
  }
  

.gridListaRepro span {
    font-family: poppins;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
    cursor: default;
}

.divLista {
    display: grid;
    grid-template-columns: 10% 65% 20%;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.videoPoster {
    align-self: center;
    width: 80%;
    border-radius: 10px;
}

.divLista button {
    cursor: pointer;
}

.divLista button:hover {
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.divLista button img {
    width: 60%;
}

.divLista.seleccionado {
    box-shadow:  -3px 6px 6px #0000003d,
             6px -3px 6px #113a133a;
}

.divLista.drag {
    opacity: 0;
}

.controlesList {
    display: grid;
    align-items: center;
    gap: 20%;
}

.controlesList span {
    font-size: 80%;
}

.controlesListButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controlesListButtons button img {
    width: 100%;
}

.controlesListButtons button:hover {
    cursor: pointer !important;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.blurListaRepro {
    position: absolute;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    backdrop-filter: grayscale(100%);
}

/*  ---- ---- Seccion VIDEO ---- ----  */

.seccionVideoVista {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: #000000;
}

.top0 {
    top: 0;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.videoVista {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.videoMain {
    width: 100vw;
    height: 90vh;
}

.controlVideo {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #000000;
    cursor: default;
}

.controlVideo img {
    width: 17px;
}

.playVideo {
    background-color: white;
    width: 3%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 2px 0 2px 5px;
    cursor: pointer;
}

.playVideo img {
    width: 25%;
}
.playVideo2 {
    background-color: white;
    width: 5%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 2px 0 2px 5px;
    cursor: pointer;
}

.playVideo:hover {
    background-color: #00FF00;
}
.playVideo2:hover {
    background-color: #00FF00;
}



.playVideo2 img {
    width: 25%;
}

.reloj {
    display: flex;
    background-color: #808080;
    width: 25px;
    height: 25px;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}

.reloj:hover {
    background-color: #00FF00;
}

.reloj img {
    width: 10px;
    align-self: center;
    padding-left: 2px;
}

.reiniciar img{
    cursor: pointer;
    width: 23px;
}

.reiniciar:hover {
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.pantallaCompleta img{
    cursor: pointer;
    width: 26px;
}

.pantallaCompleta:hover {
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}



.progressVideo {
    flex-grow: 1;
  margin-right: 15px;
  height: 7px;
  background: #4B4B4D;
  border-radius: 0px;
  background-image: linear-gradient(#4CAF50, #38813b);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.progressVideo::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  .timestamp {
    color: #fff;
   font-size: 1rem;
}
.timestamp2 {
    color: #fff;
   font-size: 1rem;
   margin-right: 40px;
   margin-left: 4px;
}

.anteriorBttn:hover,.siguienteBttn:hover {
    cursor: pointer;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.volumenBttn img {
    width:25px;
}

.volumenBttn:hover {
    cursor: pointer;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.volverAVideosVista {
    cursor: pointer;
    display: flex;
    background-color: #4B4B4D;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 5px;
}

.volverAVideosVista img {
    width: 8px;
}

.volverAVideosVista:hover span {
    color: #00FF00;
}

.bttnTachoBlanco {
    position: absolute;
    left: 0;
    bottom: 7%;
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%, rgba(0,0,0,1) 100%);
    width: 90px;
    height: 60px;
    border-radius: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bttnTachoCirculo {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #000000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #00FF00;
}

.bttnTachoBlanco img {
    width: 25px;
}

.bttnAgregarListaRojo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD1A1C;
    border-radius: 10px;
    gap: 3px;
    padding: 3px 5px;
    cursor: pointer;
}

.bttnAgregarListaRojo:hover {
    background-color: #591212;
}

.bttnAgregarListaRojo:focus {
    background-color: #4B4B4D;
}
.bttnAgregarListaRojo:focus span {
    color: #000000;
}

.bttnAgregarListaRojo:focus img {
    filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(63deg) brightness(100%) contrast(107%);
}

.controlesVideoLocal {
    position: absolute;
    bottom: 0;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #000000;
    cursor: default;
    border-radius: 20px 20px 0 0;
}

.divSeparadorControlesLocal {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2px;
}

.controlesLocalArriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.controlesLocalAbajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bttnCargarVideos img {
    width: 20px;
}
.bttnCargarVideos span {
    color: #808080;
}

.bttnVaciarLista img {
    width: 20px;
}
.bttnVaciarLista span {
    color: #808080;
}

.bttnCargarVideos:hover {
    cursor: pointer;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.bttnVaciarLista:hover {
    cursor: pointer;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.pasajeVideosLocal button img{
    width: 20px;
    height: 20px;
}
.pasajeVideosLocal small {
    font-family: Handel;
    color: #808080;
}
.pasajeVideosLocal button:hover {
    cursor: pointer;
    filter: invert(58%) sepia(95%) saturate(416%) hue-rotate(64deg) brightness(109%) contrast(124%);
}

.bottom0 {
    bottom: 0;
}

.fullscreen {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    width: 100vw;
    height: 100vh;
}


.swal2-popup {
    font-family: Handel;
  }


/*  ---- ---- ANIMACION ---- ----  */

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
